/* Partners Section Styles */
.partners {
  background-color: #f70aff; /* Light Purple */
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  color: white; 
  padding: 20px;
}

.partners h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px; 
}

.partner-logos {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 40px; /* Space between partner logos */
}

.partner-logos img {
  height: 100px; /* Logo height */
  transition: transform 0.3s; /* Hover effect */
}

.partner-logos img:hover {
  transform: scale(1.1); /* Scale effect on hover */
}
